<div id ="rosterAnalysis">
  <h2>Roster Analysis Tools</h2>
  <div id ="lineupOptimizer">
    <label for="radioinputs"><h4>Select Scoring Format</h4>
      <div id ="radioinputs">
        <label for="ppr">PPR</label>
        <input type="radio" value="PPR" id="ppr" name="scoreFormat">
        <label for="standard">Standard</label>
        <input type="radio" value="Standard" id="standard" name="scoreFormat">
      </div>
    </label>
    <label for="format"><h4>Select Lineup Format</h4>
      <select name="format" id="format">
        <option value="1Flex">1 QB, 2 RB, 2 WR, 1 TE, 1 FLEX, 1 K, 1 DEF</option>
        <option value="0Flex">1 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
        <option value="2QB">2 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
    </select>
  </label>
  <input type="button" value="Optimize Lineup" ng-click="optimizeLineup()">
  </div>
</div>
