<div id="signup" class="popup-window">
  <form class="registration" ng-submit="view.signUp(view.usernameSignup)" name="signUpForm">
      <h1>Registration</h1>
      <input type="email" placeholder="Email Address" ng-model="view.emailSignup">
      <input type="text" placeholder="Username" ng-model="view.usernameSignup">
      <input type="password" placeholder="Password" ng-model="view.passwordSignup">
      <input type="password" placeholder="Confirm Password">
      <input type="submit" value="Submit Information">
  </form>
</div>
