<div class = "userHome">
  <h1>Roster</h1>

<div class="rosterContainer" class="content">
  <div class = "projectionContainer">
    <!-- //SPACE HOLDER DIV - NO CONTENT -->
  </div>
  <div class="positionContainer">
    <h3>Quarterbacks</h3>
    <h4 ng-hide="view.userRoster.QB.length > 0">(Empty)</h4>
    <div ng-repeat="QB in view.userRoster.QB">
      <input type="button" value="remove" ng-click="view.removePlayer(QB.playerId)">
      <section class="playerContent">
        <h2>{{QB.displayName}}</h2>
        <h4>{{QB.team | teamName}}</h4>
      </section>
        <img ng-src="{{QB.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="QB in view.userRoster.QB track by $index">
      {{QB.projection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Runningbacks</h3>
    <h4 ng-hide="view.userRoster.RB.length > 0">(Empty)</h4>
    <div ng-repeat="RB in view.userRoster.RB">
      <input type="button" value="remove" ng-click="view.removePlayer(RB.playerId)">
      <section class="playerContent">
        <h2>{{RB.displayName}}</h2>
        <h4>{{RB.team | teamName}}</h4>
      </section>
        <img ng-src="{{RB.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="RB in view.userRoster.RB track by $index">
      {{RB.projection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Wide Receivers</h3>
    <h4 ng-hide="view.userRoster.WR.length> 0">(Empty)</h4>
    <div ng-repeat="WR in view.userRoster.WR">
      <input type="button" value="remove" ng-click="view.removePlayer(WR.playerId)">
      <section class="playerContent">
        <h2>{{WR.displayName}}</h2>
        <h4>{{WR.team | teamName}}</h4>
      </section>
        <img ng-src="{{WR.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="WR in view.userRoster.WR track by $index">
      {{WR.projection}}
    </h4>
  </div>

</div>

<div class="rosterContainer">

<div class = "projectionContainer">
</div>

  <div class="positionContainer">
    <h3>Tight Ends</h3>
    <h4 ng-hide="view.userRoster.TE.length > 0">(Empty)</h4>
    <div ng-repeat="TE in view.userRoster.TE">
      <input type="button" value="remove" ng-click="view.removePlayer(TE.playerId)">
      <section class="playerContent">
        <h2>{{TE.displayName}}</h2>
        <h4>{{TE.team | teamName}}</h4>
      </section>
        <img ng-src="{{TE.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="TE in view.userRoster.TE track by $index">
      {{TE.projection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Kickers</h3>
    <h4 ng-hide="view.userRoster.K.length > 0">(Empty)</h4>
    <div ng-repeat="K in view.userRoster.K">
      <input type="button" value="remove" ng-click="view.removePlayer(K.playerId)">
      <section class="playerContent">
        <h2>{{K.displayName}}</h2>
        <h4>{{K.team | teamName}}</h4>
      </section>
        <img ng-src="{{K.team | teamLogo}}" alt="" width="58px" height="43.5px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="K in view.userRoster.K track by $index">
      {{K.projection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Defenses</h3>
    <h4 ng-hide="view.userRoster.DEF.length > 0">(Empty)</h4>
    <div ng-repeat="DEF in view.userRoster.DEF">
      <input type="button" value="remove" ng-click="view.removePlayer(DEF.playerId)">
      <section class="playerContent">
        <h2>{{DEF.displayName}}</h2>
        <h4>{{DEF.team | teamName}}</h4>
      </section>
        <img ng-src="{{DEF.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="DEF in view.userRoster.DEF track by $index">
      {{DEF.projection}}
    </h4>
  </div>
</div>

<div class="search">
  <input type="text" placeholder="player name" ng-model="view.player">
  <div class="searchButtons">

    <input type="button" value="Find Player" ng-click="view.searchPlayer(view.player)">
    <h3 id ="instructionH3" ng-hide=" userRoster.RB.length > 1">Start by searching for players and adding them to your roster. Next, obtain the projections for your players and optimize your lineup based on those projections.</h3>

    <div id="searchOutput" ng-repeat="player in view.searchedPlayer track by $index" ng-show="view.searchPlayerToggle = true">
      <div id="searchOutputTextDiv">
        <h3>{{player.displayName}}</h3>
        <h3>{{player.position}}</h3>
        <h3>{{player.team | teamName}}</h3>
      </div>
      <input type="button" value="Add Player to Roster" ng-click="view.addToRoster(view.searchedPlayer[0])" id="addPlayer">
      <input type="button" value="Search Again" id="searchAgain">
    </div>

    <div id="projSource">
    <label for="source"><h4>Projection Source</h4>
      <select name="projectionSource" id="source">
        <option value="yahoo">Yahoo</option>
        <option value="ffn">Fantasy Football Nerd</option>
        <option value="ESPN">ESPN</option>
      </select>
    </label>

<div id="scoreFormat">
    <h4>Scoring Format</h5>
  <div>
    <div>
      <input type="radio" name="format" id="r1">
      <label for="r1">PPR</label>
    </div>
    <div>
      <input type="radio" name="format" value="Standard" id="r2">
      <label for="r2">Standard</label>
    </div>
  </div>
  </div>



  </div>
  <input type="button" value="Get Projections" id="getProj" ng-click="view.getQBProjections(view.userRoster.QB[0].playerId,
  view.userRoster.QB[1].playerId, view.userRoster.QB[2].playerId, view.userRoster.RB[0].playerId, view.userRoster.RB[1].playerId, view.userRoster.RB[2].playerId, view.userRoster.RB[3].playerId,
  view.userRoster.RB[4].playerId,
  view.userRoster.RB[5].playerId, view.userRoster.WR[0].playerId, view.userRoster.WR[1].playerId, view.userRoster.WR[2].playerId,
  view.userRoster.WR[3].playerId,
  view.userRoster.WR[4].playerId,
  view.userRoster.WR[5].playerId,
  view.userRoster.TE[0].playerId,
  view.userRoster.TE[1].playerId, view.userRoster.TE[2].playerId,
  view.userRoster.TE[3].playerId,
  view.userRoster.K[0].playerId, view.userRoster.K[1].playerId,
  view.userRoster.K[2].playerId,
  view.userRoster.DEF[0].playerId, view.userRoster.DEF[1].playerId
  ); view.searchPlayerToggle = true; showRosterAnalysisButton = ! showRosterAnalysisButton;">
</div>
  <a ng-href="/#/rosterAnalysis">
    <input type="button" value="Roster Analysis" id="rosterAnalysisButton" ng-show="showRosterAnalysisButton">
  </a>
</div>
Contact GitHub API Training Shop Blog About
