<div class = "userHome">
  <h1>Roster</h1>

<div class="rosterContainer" class="content">
  <div class = "projectionContainer">
    <!-- //SPACE HOLDER DIV - NO CONTENT -->
  </div>
  <div class="positionContainer">
    <h3>Quarterbacks</h3>
    <h4 ng-hide="view.userRoster.QB.length > 0">(Empty)</h4>
    <div ng-repeat="QB in view.userRoster.QB">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{QB.displayName}}</h2>
        <h4>{{QB.team | teamName}}</h4>
      </section>
        <img ng-src="{{QB.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="QBprojection in view.qbProjections track by $index">
      {{QBprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Runningbacks</h3>
    <h4 ng-hide="view.userRoster.RB.length > 0">(Empty)</h4>
    <div ng-repeat="RB in view.userRoster.RB">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{RB.displayName}}</h2>
        <h4>{{RB.team | teamName}}</h4>
      </section>
        <img ng-src="{{RB.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="RBprojection in view.rbProjections track by $index">
      {{RBprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Wide Receivers</h3>
    <h4 ng-hide="view.userRoster.WR.length> 0">(Empty)</h4>
    <div ng-repeat="WR in view.userRoster.WR">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{WR.displayName}}</h2>
        <h4>{{WR.team | teamName}}</h4>
      </section>
        <img ng-src="{{WR.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="WRprojection in view.wrProjections track by $index">
      {{WRprojection}}
    </h4>
  </div>

</div>

<div class="rosterContainer">

<div class = "projectionContainer">
</div>

  <div class="positionContainer">
    <h3>Tight Ends</h3>
    <h4 ng-hide="view.userRoster.TE.length > 0">(Empty)</h4>
    <div ng-repeat="TE in view.userRoster.TE">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{TE.displayName}}</h2>
        <h4>{{TE.team | teamName}}</h4>
      </section>
        <img ng-src="{{TE.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="TEprojection in view.teProjections track by $index">
      {{TEprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Kickers</h3>
    <h4 ng-hide="view.userRoster.K.length > 0">(Empty)</h4>
    <div ng-repeat="K in view.userRoster.K">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{K.displayName}}</h2>
        <h4>{{K.team | teamName}}</h4>
      </section>
        <img ng-src="{{K.team | teamLogo}}" alt="" width="58px" height="43.5px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="Kprojection in view.kProjections track by $index">
      {{Kprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Defenses</h3>
    <h4 ng-hide="view.userRoster.DEF.length > 0">(Empty)</h4>
    <div ng-repeat="DEF in view.userRoster.DEF">
      <input type="button" value="remove">
      <section class="playerContent">
        <h2>{{DEF.displayName}}</h2>
        <h4>{{DEF.team | teamName}}</h4>
      </section>
        <img ng-src="{{DEF.team | teamLogo}}" alt="" width="52px" height="41px" class="logoimage">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="DEFprojection in view.defProjections track by $index">
      {{DEFprojection}}
    </h4>
  </div>
</div>

<div class="search">
  <div class="searchButtons">
    <input type="text" placeholder="player name" ng-model="view.player">
    <input type="button" value="Find Player" ng-click="view.searchPlayer(view.player)">
  </div>
</div>

<div id="searchOutput" ng-repeat="player in view.searchedPlayer track by $index" ng-show="view.searchPlayerToggle = true">
  <h3>{{player.displayName}}</h3>
  <h3>{{player.position}}</h3>
  <h3>{{player.team | teamName}}</h3>
  <input type="button" value="Add Player to Roster" ng-click="view.addToRoster(view.searchedPlayer[0])" id="addPlayer">
  <input type="button" value="Search Again" id="searchAgain">
</div>

<h3 id ="instructionH3" ng-show = "view.userRoster.WR.length > 0 && view.userRoster.RB.length > -1">Select source for projections and your league's scoring format, and then click "Get Projections".  Next, select "Roster Analysis" to optimize your roster.</h3>

<div ng-show="view.userRoster.WR.length > 0 && view.userRoster.RB.length > -1">
  <div id ="projSource">
    <label for="source"><h4>Select Projection Source</h4>
      <select name="projectionSource" id="source">
        <option value="yahoo">Yahoo</option>
        <option value="ffn">Fantasy Football Nerd</option>
        <option value="ESPN">ESPN</option>
      </select>
    </label>
    <div>
      <input type="button" value="Get Projections" id="getProj" ng-click="view.getQBProjections(view.userRoster.QB[0].playerId,
      view.userRoster.QB[1].playerId, view.userRoster.QB[2].playerId, view.userRoster.RB[0].playerId, view.userRoster.RB[1].playerId, view.userRoster.RB[2].playerId, view.userRoster.RB[3].playerId,
      view.userRoster.RB[4].playerId,
      view.userRoster.RB[5].playerId, view.userRoster.WR[0].playerId, view.userRoster.WR[1].playerId, view.userRoster.WR[2].playerId,
      view.userRoster.WR[3].playerId,
      view.userRoster.WR[4].playerId,
      view.userRoster.WR[5].playerId,
      view.userRoster.TE[0].playerId,
      view.userRoster.TE[1].playerId, view.userRoster.TE[2].playerId,
      view.userRoster.TE[3].playerId,
      view.userRoster.K[0].playerId, view.userRoster.K[1].playerId,
      view.userRoster.K[2].playerId,
      view.userRoster.DEF[0].playerId, view.userRoster.DEF[1].playerId
      ); view.searchPlayerToggle = true; showRosterAnalysis = ! showRosterAnalysis;">
    </div>
    <div id="scoringFormatSelectorDiv">
    <label for="radioinputs" id="radioLabel"><h4 id ="scoringFormat">Select Scoring Format</h4>
      <div id ="radioinputs">
        <label for="ppr">PPR</label>
        <input type="radio" value="PPR" id="ppr" name="scoreFormat">
        <label for="standard">Standard</label>
        <input type="radio" value="Standard" id="standard" name="scoreFormat">
      </div>
    </div>
    </label>
  </div>
</div>

<div class = "centeringContainer">
  <input type="button" value="Roster Analysis" id="rosterAnalyzerButton" ng-click="scrollTo('scrollHere');" ng-show="view.userRoster.WR.length > 0 && view.userRoster.RB.length > -1">
</div>


<br>
<section ng-show="showRosterAnalysis" id="rosterAnalysis" class="content">
  <div>
    <h2>Roster Analysis Tools</h2>
    <div id ="lineupOptimizer">
      <label for="format"><h4>Select Lineup Format</h4>
        <select name="format" id="format">
          <option value="1Flex">1 QB, 2 RB, 2 WR, 1 TE, 1 FLEX, 1 K, 1 DEF</option>
          <option value="0Flex">1 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
          <option value="2QB">2 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
      </select>
    </label>
    <input type="button" value="Optimize Lineup" ng-click="view.optimizeLineup(view.userRoster.QB[0], view.userRoster.RB[0], view.userRoster.RB[1], view.userRoster.WR[0],
    view.userRoster.WR[1], view.userRoster.TE[0], view.userRoster.K[0], view.userRoster.DEF[0])">
  </div>
    <div class="rosterContainer">
      <div ng-repeat="player in view.highestProjected[0] track by $index">
        <h2>{{player.displayName}}</h2>
        <h2>{{player.team}}</h2>
      </div>
      </div>
    </div>
  </div>
  </div>

</section>
<h6 id="scrollHere"></h6>
