<div class = "userHome">
  <h2>Welcome to Fantasy Football Forecast.{{view.welcome}} Use the tools below to build and analyze your fantasy roster.</h2>
  <h1>Roster</h1>

<div class="rosterContainer">

  <div class = "projectionContainer">
  </div>

  <div class="positionContainer">
    <h3>Quarterbacks</h3>
    <div ng-repeat="QB in view.userRoster.QB">
      <h4>{{QB.displayName}}</h4>
      {{QB.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="QBprojection in view.qbProjections">
      {{QBprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Runningbacks</h3>
    <div ng-repeat="RB in view.userRoster.RB">
      <h4>{{RB.displayName}}</h4>
      {{RB.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="RBprojection in view.rbProjections">
      {{RBprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Wide Receivers</h3>
    <div ng-repeat="WR in view.userRoster.WR">
      <h4>{{WR.displayName}}</h4>
      {{WR.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="WRprojection in view.wrProjections">
      {{WRprojection}}
    </h4>
  </div>

</div>

<div class="rosterContainer">

  <div class = "projectionContainer">
  </div>

  <div class="positionContainer">
    <h3>Tight Ends</h3>
    <div ng-repeat="TE in view.userRoster.TE">
      <h4>{{TE.displayName}}</h4>
      {{TE.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="TEprojection in view.teProjections">
      {{TEprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Kickers</h3>
    <div ng-repeat="K in view.userRoster.K">
      <h4>{{K.displayName}}</h4>
      {{K.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="Kprojection in view.kProjections">
      {{Kprojection}}
    </h4>
  </div>

  <div class="positionContainer">
    <h3>Defenses</h3>
    <div ng-repeat="DEF in view.userRoster.DEF">
      <h4>{{DEF.displayName}}</h4>
      {{DEF.team | teamName}}
      <input type="button" value="remove">
    </div>
  </div>

  <div class = "projectionContainer">
    <h4 ng-repeat="DEFprojection in view.defProjections">
      {{DEFprojection}}
    </h4>
  </div>

</div>

<div class="search">
  <input type="text" placeholder="player name" ng-model="view.player">
  <input type="button" value="Find Player" ng-click="view.searchPlayer(view.player)">
</div>

<div id="searchOutput" ng-repeat="player in view.searchedPlayer track by $index" ng-show="view.searchPlayerToggle">
  <h3>{{player.displayName}}</h3>
  <h3>{{player.position}}</h3>
  <h3>{{player.team | teamName}}</h3>
  <input type="button" value="Add Player to Roster" ng-click="view.addToRoster(view.searchedPlayer[0])" id="addPlayer">
  <input type="button" value="Search Again" id="searchAgain">
</div>

<div id ="rosterAnalysis">
  <h2>Roster Analysis Tools</h2>
<div id ="lineupOptimizer">
  <label for="radioinputs"><h4>Select Scoring Format</h4>
  <div id ="radioinputs">
    <label for="ppr">PPR</label>
    <input type="radio" value="PPR" id="ppr" name="scoreFormat">
    <label for="standard">Standard</label>
    <input type="radio" value="Standard" id="standard" name="scoreFormat">
  </div>
  </label>
  <label for="format"><h4>Select Lineup Format</h4>
  <select name="format" id="format">
    <option value="1Flex">1 QB, 2 RB, 2 WR, 1 TE, 1 FLEX, 1 K, 1 DEF</option>
    <option value="0Flex">1 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
    <option value="2QB">2 QB, 2 RB, 3 WR, 1 TE, 1 DEF</option>
  </select>
</label>
    <label for="source"><h4>Select Projection Source</h4>
  <select name="projectionSource" id="source">
    <option value="yahoo">Yahoo</option>
    <option value="ffn">Fantasy Football Nerd</option>
    <option value="ESPN">ESPN</option>
  </select>
  </label>
  <div id = "testing">
    <input type="button" value="Get Projections" id="getProj" ng-click="view.getQBProjections(view.userRoster.QB[0].playerId,
    view.userRoster.QB[1].playerId, view.userRoster.QB[2].playerId, view.userRoster.RB[0].playerId, view.userRoster.RB[1].playerId, view.userRoster.RB[2].playerId, view.userRoster.RB[3].playerId, view.userRoster.WR[0].playerId, view.userRoster.WR[1].playerId, view.userRoster.WR[2].playerId,
    view.userRoster.WR[3].playerID,
    view.userRoster.TE[0].playerId,
    view.userRoster.TE[1].playerId, view.userRoster.TE[2].playerId,
    view.userRoster.TE[3].playerId,
    view.userRoster.K[0].playerId, view.userRoster.K[1].playerId,
    view.userRoster.K[2].playerId,
    view.userRoster.DEF[0].playerId, view.userRoster.DEF[1].playerId
    );">
  </div>
  <input type="button" value="Optimize Lineup" ng-click="optimizeLineup()">

</div>
</div>

</div>
